<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetDevShop - O petshop do dev</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
</head>
<body>
<header>
    <div class="container">
        <a href="/">PetDevShop</a>
        <form method="GET" action="">
            <input type="search" name="q" placeholder="Pesquise por raça" />
        </form>
    </div>
</header>
<nav>
    <ul>

        <li class="{{#nav.all}}active{{/nav.all}}"><a href="/">Todos</a></li>
        <li class="{{#nav.dog}}active{{/nav.dog}}"><a href="/dogs">Cachorros</a></li>
        <li class="{{#nav.cat}}active{{/nav.cat}}"><a href="/cats">Gatos</a></li>
        <li class="{{#nav.fish}}active{{/nav.fish}}"><a href="/fishes">Peixes</a></li>
    </ul>
</nav>